.main {
  height: 100vh;
  width: 100%;
  background-color: #dbe1e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstScreen {
  height: 200px;
  width: 50%;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.createProfile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: #388e3c;
  cursor: pointer;
  margin: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.inputScreen {
  height: 200px;
  width: 50%;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.inputScreen button {
  border: none;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.inputScreen input {
  border: none;
  padding: 10px;
  background-color: #ced4da;
  border-radius: 5px;
}

.deleteScreen {
  height: 200px;
  width: 50%;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #e64a19;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px;
}

.deleteButton {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #ffcdd2;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.deleteScreen button {
  background-color: #e64a19;
  color: #f5f5f5;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

#deleteButton2 {
  background-color: #388e3c;
}
